USE [DGMU]
GO
/****** Object:  StoredProcedure [DMT].[spUPDATE_DEBIT_MEMO_HEADER_COMPLETE_STATUS]    Script Date: 5/2/2018 9:08:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* UPDATE COMPLETION OF DEBIT MEMO
03/28/2018
Russel Vasquez
*/

CREATE PROC [DMT].[spUPDATE_DEBIT_MEMO_HEADER_COMPLETE_STATUS]
@DMRNUM nvarchar(15)
AS
BEGIN

BEGIN TRY
	BEGIN TRANSACTION
	
	-- SETTING COMPLETED THE DEBIT MEMO

	UPDATE dmt.DebitMemoRequest_Header_TF
	SET IsCompleted = 1, DU=getdate()
	WHERE DMRNum = @DMRNUM
		
	COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION -- Will not commit changes on all tables

END CATCH

END

GO
