USE [DGMU]
GO
/****** Object:  Table [HR].[Employee_MD]    Script Date: 5/2/2018 9:08:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[Employee_MD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [nvarchar](10) NOT NULL,
	[Last_Name] [nvarchar](25) NULL,
	[First_Name] [nvarchar](25) NULL,
	[Middle_Name] [nvarchar](25) NULL,
	[Nick_Name] [nvarchar](20) NULL,
	[GenderCode] [nvarchar](1) NOT NULL,
	[Date_Of_Birth] [datetime] NULL,
	[Place_Of_Birth] [nvarchar](100) NULL,
	[Weight] [nvarchar](10) NULL,
	[Height] [nvarchar](10) NULL,
	[Landline_Number] [nvarchar](50) NULL,
	[Mobile_Number] [nvarchar](50) NULL,
	[ReligionCode] [nvarchar](3) NULL,
	[CitizenshipCode] [nvarchar](3) NULL,
	[Present_Address] [nvarchar](150) NULL,
	[Provincial_Address] [nvarchar](150) NULL,
 CONSTRAINT [PK_Employee_MD] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [HR].[Employee_MD]  WITH CHECK ADD  CONSTRAINT [FK_Employee_MD_Employee_MD] FOREIGN KEY([EmployeeID])
REFERENCES [HR].[Employee_MD] ([EmployeeID])
GO
ALTER TABLE [HR].[Employee_MD] CHECK CONSTRAINT [FK_Employee_MD_Employee_MD]
GO
ALTER TABLE [HR].[Employee_MD]  WITH CHECK ADD  CONSTRAINT [FK_Employee_MD_Utility_Citizenship_RF] FOREIGN KEY([CitizenshipCode])
REFERENCES [HR].[Utility_Citizenship_RF] ([CitizenshipCode])
GO
ALTER TABLE [HR].[Employee_MD] CHECK CONSTRAINT [FK_Employee_MD_Utility_Citizenship_RF]
GO
ALTER TABLE [HR].[Employee_MD]  WITH CHECK ADD  CONSTRAINT [FK_Employee_MD_Utility_Gender_RF] FOREIGN KEY([GenderCode])
REFERENCES [HR].[Utility_Gender_RF] ([GenderCode])
GO
ALTER TABLE [HR].[Employee_MD] CHECK CONSTRAINT [FK_Employee_MD_Utility_Gender_RF]
GO
ALTER TABLE [HR].[Employee_MD]  WITH CHECK ADD  CONSTRAINT [FK_Employee_MD_Utility_Religion_RF] FOREIGN KEY([ReligionCode])
REFERENCES [HR].[Utility_Religion_RF] ([ReligionCode])
GO
ALTER TABLE [HR].[Employee_MD] CHECK CONSTRAINT [FK_Employee_MD_Utility_Religion_RF]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Auto Generated by the System' , @level0type=N'SCHEMA',@level0name=N'HR', @level1type=N'TABLE',@level1name=N'Employee_MD', @level2type=N'COLUMN',@level2name=N'EmployeeID'
GO
