USE [DGMU]
GO
/****** Object:  StoredProcedure [Trans].[INSERT_PARTNER_PO_TRANS_ROWS]    Script Date: 5/2/2018 9:08:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Insert New PO Transaction Per Line Item 
10/25/2017
Russel Vasquez
*/

CREATE PROC [Trans].[INSERT_PARTNER_PO_TRANS_ROWS]
@PONUM nvarchar(10),
@BRANCHCODE nvarchar(6),
@ITEMCODE nvarchar(10),
@INVQTY float,
@PARTNERQTY float,
@PARTNERUOM nvarchar(10),
@UNITPRICE float,
@TOTALPRICE float,
@REMAININGQTY float,
@USERCODE nvarchar(50)
AS
BEGIN

BEGIN TRY
	BEGIN TRANSACTION

	INSERT INTO [Trans].[Partner_PO_Rows](PONum,BranchCode, ItemCode,InvQty,PartnerQty,PartnerUom,UnitPrice,TotalPrice,RemainingQty,UserCode)
	VALUES(@PONUM,@BRANCHCODE,@ITEMCODE,@INVQTY,@PARTNERQTY,@PARTNERUOM,@UNITPRICE,@TOTALPRICE,@REMAININGQTY,@USERCODE)
	
	--INSERT ALSO THE TRANSACTION ITEM ON INVENTORY TRANSACTION FILES
	INSERT INTO [Trans].[Inventory](TransactionNum,ItemCode, Quantity,IsMoveIn,DateTrans,UserCode)
	VALUES(@PONUM,@ITEMCODE,@INVQTY,0,GETDATE(),@USERCODE)
	

	--UPDATE STOCK INVENTORY
	EXEC [Trans].[UPDATE_STOCK_INVENTORY_FROM_PARTNER] @ITEMCODE, @INVQTY

	COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION -- Will not commit changes on all tables

END CATCH

END

GO
