USE [DGMU]
GO
/****** Object:  StoredProcedure [Utility].[UPDATE_PARTNER_PRICE_SETUP]    Script Date: 5/2/2018 9:08:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<RUSSEL VASQUEZ>
-- Create date: <11/04/2017>
-- Description:	<UPDATE PARTNER PRICE LIST>
-- =============================================
CREATE PROCEDURE [Utility].[UPDATE_PARTNER_PRICE_SETUP] 
@ID int,
@PRICECODE nvarchar(6),
@DESCRIPTION nvarchar(150),
@USERCODE nvarchar(50)

AS
BEGIN
	UPDATE 
	[Utility].[Partner_Price_RF]
	SET
	PriceCode=@PRICECODE,
	Description=@DESCRIPTION,
	UserCode=@USERCODE
	
	WHERE
	PPID=@ID
END


GO
