USE [DGMU]
GO
/****** Object:  Table [Utility].[Helper_RF]    Script Date: 5/2/2018 9:08:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Utility].[Helper_RF](
	[HelperID] [int] IDENTITY(1,1) NOT NULL,
	[HelperName] [nvarchar](150) NOT NULL,
	[Status] [bit] NULL CONSTRAINT [DF_Helper_RF_Status]  DEFAULT ((1)),
 CONSTRAINT [PK_Helper_RF] PRIMARY KEY CLUSTERED 
(
	[HelperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
